table {
    border: 1px solid #ccc;
    width: 100%;
}

.searchfull {
    padding: 0;
    height: auto;
    margin-top: 100px;
    margin-bottom: 20px;
}

.searchfull .full-title {
    font-size: 36px;
}

.searchfull .full-txt {
    font-size: 28px;
    margin: 0;
}

.searchfull img {
    display: inline-block;
    width: 20%;
    height: auto;
}

@media only screen and (max-width:768px) {
    .searchfull img {
        display: none;
    }
}

.wrap {
    margin-top: -10px !important;
    padding: 0;
    /* padding-top: 50px; */
    opacity: 1;
    animation: none;
}

.search-wrap,
.search-wrap-ht {
    width: 340px;
}

.search-txt {
    width: 260px;
}