* {
    padding: 0;
    margin: 0;
    font-family: "Helvetica", "Arial", "LiHei Pro", "黑體-繁", "微軟正黑體", sans-serif;
}

.img-fulled {
    transform: scale(1.05, 1.05);
    width: 100%;
    max-width: none;
    transition: .5s;
}

.scrollnone {
    overflow: hidden;
}

.ifremhide {
    display: block !important;
}

.d-none {
    display: none;
}

.navlogo-d-h {
    display: none;
}


/* navbar */

.fixed-bar {
    box-shadow: 0 1px 80px #fad390c2;
    background-image: linear-gradient(to top, #fad39069 0%, #f8bd85b7 100%);
    z-index: 999;
    position: fixed;
    width: 100%;
    height: 80px;
    left: 0;
    top: 0;
    transition: .3s;
}

.bgcfff {
    background-color: #fff;
    background-image: none;
    transition: .3s;
}

.navbarclose {
    height: 60px;
}

.fixed-bar a {
    text-decoration: none;
    color: #000;
    text-align: center;
    line-height: 24px;
    font-size: 16px;
}

.fixed-title {
    z-index: 1000;
    position: fixed;
    height: 23px;
    left: 15px;
    top: 17px;
}

.fixed-img {
    height: 50px;
    margin-left: 20px;
    margin-top: 4px;
}


/* full wrap */

.full {
    box-sizing: border-box;
    padding: 5% 0;
    margin-top: 60px;
    position: relative;
    width: 100%;
    height: 100vh;
    text-align: center;
}

.full img {
    margin: 0 auto;
    display: block;
    height: 80%;
    width: auto;
    object-fit: cover;
}

.wrap {
    width: 100%;
    margin: auto;
    line-height: 50px;
    padding-top: 100px;
    opacity: 0;
    animation: An-full-title 1.2s .5s linear forwards;
}

.full .full-title {
    font-size: 46px;
    color: #222;
    font-weight: 600;
}

.full .full-txt {
    font-weight: 600;
    margin-top: 10px;
    font-size: 28px;
    color: #222;
}

@keyframes An-full-title {
    from {
        padding-top: 100px;
        opacity: 0;
    }
    to {
        padding-top: 0px;
        opacity: 1;
    }
}


/* new wrap */

.newwrap {
    display: flex;
    justify-content: center;
    /* flex-wrap: wrap; */
}

article {
    width: 480px;
    margin: 0 40px 60px 40px;
    transition: .3s;
}

article img {
    border-radius: 10px;
    width: 100%;
}

article a {
    text-decoration: none;
}

article:hover {
    opacity: .8;
}

.new-btn {
    margin: 70px 20px 0 20px;
    text-align: center;
}

article span {
    color: #717171;
    background-color: rgb(255, 255, 255);
    border-width: 2px;
    border-style: solid;
    border-color: #717171;
    border-image: initial;
    padding: 2px 18px;
    border-radius: 18px;
    text-decoration: none;
    transition: color 0.4s ease 0s, background-color 0.2s ease 0s;
}

.newtxtwrap {
    color: #222;
    padding: 0 20px;
    line-height: 38px;
}

.newtxtwrap h2 {
    color: #222;
    margin: 10px 0 10px 0;
}

.newtxtwrap p {
    color: #717171;
    display: -webkit-box;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
}

.newdate {
    padding: 0 20px;
    margin-top: 20px;
    text-align: right;
    color: #717171;
    font-size: .9em;
}

@media only screen and (max-width:1024px) {
    .newwrap {
        flex-wrap: wrap;
    }
    article {
        width: 600px;
        margin-bottom: 50px;
    }
    .newtxtwrap p {
        -webkit-line-clamp: 2;
    }
    .new-btn {
        margin-top: 40px;
    }
}

@media only screen and (max-width:768px) {
    .newtxtwrap {
        line-height: 24px;
    }
    .newtxtwrap h2 {
        font-size: 1.4em;
    }
    .newtxtwrap p {
        font-size: .8em;
    }
}


/* teacher wrap */

.title {
    color: #6d6d6d;
    margin-right: 32px;
    position: relative;
    display: block;
    height: 60px;
    line-height: 60px;
    margin: 20px auto 30px auto;
    padding: 0 15%;
    text-align: center;
}

.fa-youtube {
    margin-right: 8px !important;
}

.title::before {
    content: "";
    position: relative;
}

.teacherwrap {
    display: flex;
    line-height: 0px;
}

.teachitem {
    position: relative;
    vertical-align: bottom;
}

.teachitem a {
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    display: block;
    position: relative;
    overflow: hidden;
}

.block-canvas {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    opacity: 1;
    transition: .3s;
}

.teachitem a:hover>.img-fulled {
    transform: scale(1.1, 1.1) !important;
}

.block-canvas:hover {
    opacity: 0;
}

.itemtext h1 {
    font-size: 2.8em;
}


/* video wrap */

.video {
    background-color: #fddca221;
    padding: 90px 0 170px 0;
    margin-bottom: 60px;
}

.videowrap {
    display: flex;
    justify-content: space-around;
    position: relative;
}

.videoitem {
    position: relative;
    margin: 0 25px;
    transition: .5s;
    /* overflow: hidden; */
}

.videoitem:hover {
    box-shadow: 0 0 30px rgba(104, 104, 104, 0.557);
}

.v-imgwrap {
    /* border-radius: 10px; */
    overflow: hidden;
}

.videoitem:hover>.v-imgwrap>.img-fulled {
    transform: scale(1.1, 1.1);
}

.block-canvas-video {
    position: absolute;
    cursor: pointer;
    /* border-radius: 10px; */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    opacity: 1;
    transition: .3s;
}

.test {
    overflow: hidden;
}

.block-canvas-video:hover {
    background-color: rgba(0, 0, 0, 0.2);
}

.block-canvas-video img {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

@media only screen and (max-width: 1024px) {
    .video {
        margin-bottom: 60px;
    }
    .video .title {
        margin-bottom: -25px;
    }
    .title {
        margin: 20px 0 5px 0;
    }
    .videowrap {
        flex-direction: column;
    }
    .videoitem {
        display: block;
        margin: 30px auto !important;
        width: 80%;
    }
    .ifrem-wrap iframe {
        height: 30% !important;
    }
    .ifrem-wrap i {
        top: 33% !important;
        right: 8% !important;
    }
}


/* ifrem */

.ifrem-wrap {
    z-index: 999;
    display: none;
    position: fixed;
    overflow: hidden;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #0b0b0ba5;
}

.ifrem-wrap iframe {
    position: absolute;
    width: 75%;
    height: calc(75% - 60px);
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.ifrem-wrap i {
    position: absolute;
    top: 15%;
    right: 12%;
    color: #fff;
    font-size: 32px;
    transition: .3s;
    cursor: pointer;
}

.ifrem-wrap i:hover {
    color: #ccc;
}

.v-intro {
    position: absolute;
    text-align: center;
    margin-top: 14px;
    width: 100%;
    color: #222;
    font-size: 1.4em;
    transition: .3s;
}

.v-intro-p {
    position: absolute;
    bottom: 0;
    color: rgba(0, 0, 0);
    opacity: 0;
    transition: .3s;
}

.block-canvas-video:hover+.v-intro-P {
    opacity: 1;
}

.block-canvas-video:hover+.v-intro {
    color: #fa9d08;
}

@media only screen and (max-width:768px) {
    .v-intro {
        font-size: 1em;
    }
}


/* search wrap */

.searchwrap {
    position: absolute;
    top: 25px;
    right: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: .3s;
}

.searchclose {
    top: 15px;
    transition: .3s;
}

.searchwrap input {
    display: inline-block;
    font-size: 16px;
    box-sizing: border-box;
    transition: .5s;
}

.searchwrap input[type="text"] {
    background-color: #fff;
    width: 300px;
    height: 30px;
    border: none;
    outline: none;
    padding: 0 20px;
    border: 1px solid #ccc;
    border-radius: 25px 0 0 25px;
}

.searchwrap input[type="submit"] {
    position: relative;
    border-radius: 0 25px 25px 0;
    left: -5px;
    width: 80px;
    height: 30px;
    border: none;
    outline: none;
    cursor: pointer;
    background: #f0b217;
    color: #fff;
}

.searchwrap input[type="submit"]:hover {
    background: #ff5722;
}

@media only screen and (max-width: 768px) {
    .navlogo-d-none {
        display: none;
    }
    .searchwrap {
        top: -10px;
    }
    .searchwrap input {
        font-size: 14px;
    }
    .searchwrap input[type="text"] {
        width: 250px;
        padding: 0 15px;
    }
    .searchwrap input[type="submit"] {
        width: 60px;
    }
    .navlogo-d-none {
        display: none;
    }
    .navlogo-d-h {
        top: 10px;
        display: inline-block;
    }
}


/* item txt */

.item1:hover::before {
    font-size: 2.2em;
}

.item1::before {
    content: "智 慧 機 械";
    font-size: 1.8em;
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: .4s;
}

.item1:hover::after {
    font-size: 1.2em;
}

.item1::after {
    content: "Wisdom Machinery";
    font-size: 1em;
    font-style: italic;
    color: #fff;
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: .4s;
}

.item2:hover::before {
    font-size: 2.2em;
}

.item2::before {
    content: "半 導 體";
    font-size: 1.8em;
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: .4s;
}

.item2:hover::after {
    font-size: 1.2em;
}

.item2::after {
    content: "Semiconductor";
    font-size: 1em;
    font-style: italic;
    color: #fff;
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: .4s;
}

.item3:hover::before {
    font-size: 2.2em;
}

.item3::before {
    content: "公 安 防 治";
    font-size: 1.8em;
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: .4s;
}

.item3:hover::after {
    font-size: 1.2em;
}

.item3::after {
    content: "Safety Prevention";
    font-size: 1em;
    font-style: italic;
    color: #fff;
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: .4s;
}

.item4:hover::before {
    font-size: 2.2em;
}

.item4::before {
    content: "智 慧 生 醫";
    font-size: 1.8em;
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: .4s;
}

.item4:hover::after {
    font-size: 1.2em;
}

.item4::after {
    content: "Wisdom Biomedicine";
    font-size: 1em;
    font-style: italic;
    color: #fff;
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: .4s;
}

@media only screen and (max-width: 1250px) {
    .teacherwrap {
        flex-direction: column;
    }
    .d-none {
        display: block;
    }
    .d-h {
        display: none;
    }
    .item1::after,
    .item2::after,
    .item3::after,
    .item4::after {
        top: 60%;
        font-size: 1em;
    }
    .item1::before,
    .item2::before,
    .item3::before,
    .item4::before {
        font-size: 2.2em;
    }
}

@media only screen and (max-width: 768px) {
    .item1::after,
    .item2::after,
    .item3::after,
    .item4::after {
        top: 70%;
        font-size: 1em;
    }
    .item1::before,
    .item2::before,
    .item3::before,
    .item4::before {
        font-size: 1.8em;
    }
}


/* footer */

footer {
    display: flex;
    justify-content: space-around;
    box-sizing: border-box;
    width: 100%;
    height: auto;
    background-color: #111;
    flex-wrap: wrap;
}

.footertitle {
    width: 100%;
    color: #eee;
    margin: 30px 0;
    line-height: 25px;
    text-align: center;
}

.footertext {
    margin: 30px 0;
    display: flex;
    color: #eee;
    margin: auto 0;
}

.footeritem {
    line-height: 30px;
    margin: 0 80px;
}

.copyright {
    margin-top: 30px;
    color: #fff;
    text-align: center;
    width: 100%;
    line-height: 60px;
    font-size: 14px;
}

@media only screen and (max-width: 1024px) {
    h1 {
        font-size: 1.7em;
    }
    .full {
        height: auto;
    }
    .full-title {
        font-size: 42px !important;
    }
    .full-txt {
        font-size: 28px;
    }
    .fixed-img {
        height: 55px;
    }
}

@media only screen and (max-width: 768px) {
    h1 {
        font-size: 1.4em !important;
    }
    .fixed-bar {
        height: 60px;
        line-height: 80px;
    }
    .fixed-img {
        height: 35px;
    }
    .wrap {
        line-height: 30px;
        top: 35%;
        text-align: center;
    }
    .full-title {
        font-size: 24px !important;
    }
    .full-txt {
        font-size: 18px !important;
    }
    .footeritem {
        line-height: 22px;
    }
    .footertext {
        flex-direction: column;
        text-align: center;
        font-size: 12px;
    }
    .copyright {
        margin: 0;
    }
}