<!DOCTYPE html>
<html lang="zh-tw">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>高雄科技大學 產學營運中心</title>

    <!-- css link -->
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/normalize.css">
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.1/css/all.min.css' />
</head>

<body>
    <!-- navbar -->
    <div class="fixed-bar">
        <!-- <a href="index.html" title="教師論文、產學及專利專區" class="fixed-title">
            國立高雄科技大學 產學營運處
        </a> -->
        <a href="index.html" title="教師論文、產學及專利專區" class="logo">
            <img src="../img/NKUSTlogo2.png" alt="教師論文、產學及專利專區" class="fixed-img navlogo-d-none">
            <img src="../img/NKUSTlogo2.png" alt="教師論文、產學及專利專區" class="fixed-img navlogo-d-h">
        </a>
        <div class="searchwrap">
            <!-- <h2>教師產學計畫查詢</h2> -->
            <form action="">
                <input type="text" placeholder="請輸入關鍵字 ex:姓名、論文、計畫">
                <input type="submit" value="搜 尋">
            </form>
        </div>
    </div>


    <!-- content wrap -->
    <section class="full">
        <img src="../img/nkustlogofull.png" alt="">
        <div class="wrap">
            <div class="full-title">
                國立高雄科技大學 產學營運處
            </div>
            <div class="full-txt">
                教師論文、產學及專利專區
            </div>
        </div>
    </section>

    <!-- new -->
    <section class="container">
        <h1 class="title">
            <i class="fas fa-paper-plane"></i> 最 新 消 息
        </h1>
        <div class="newwrap">
            <article>
                <a class="newitem" href="#">
                    <div class="newitemimg">
                        <img src="https://picsum.photos/480/300?4" alt="">
                    </div>
                    <div class="newtxtwrap">
                        <h2>高雄科技大學</h1>
                            <P>大成得向日下把我行日愛車動際照著行任在的願聯我都刻發戲展外便冷。那照腦也令經了名藝去跟。家線是那公新企，共義展新路大沒操起中集母許得地說包發對必公代日整已我開大年說千有系；在物濟完作。</P>
                    </div>
                    <div class="newdate">
                        更新日:2020.06.24
                    </div>
                    <div class="new-btn">
                        <span>
                            詳細資訊
                        </span>
                    </div>
                </a>
            </article>
            <article>
                <a class="newitem" href="#">
                    <div class="newitemimg">
                        <img src="https://picsum.photos/480/300?5" alt="">
                    </div>
                    <div class="newtxtwrap">
                        <h2>高雄科技大學</h1>
                            <P>大成得向日下把我行日愛車動際照著行任在的願聯我都刻發戲展外便冷。那照腦也令經了名藝去跟。家線是那公新企，共義展新路大沒操起中集母許得地說包發對必公代日整已我開大年說千有系；在物濟完作。</P>
                    </div>
                    <div class="newdate">
                        更新日:2020.06.24
                    </div>
                    <div class="new-btn">
                        <span>
                            詳細資訊
                        </span>
                    </div>
                </a>
            </article>
            <article>
                <a class="newitem" href="#">
                    <div class="newitemimg">
                        <img src="https://picsum.photos/480/300?6" alt="">
                    </div>
                    <div class="newtxtwrap">
                        <h2>高雄科技大學</h1>
                            <P>大成得向日下把我行日愛車動際照著行任在的願聯我都刻發戲展外便冷。那照腦也令經了名藝去跟。家線是那公新企，共義展新路大沒操起中集母許得地說包發對必公代日整已我開大年說千有系；在物濟完作。</P>
                    </div>
                    <div class="newdate">
                        更新日:2020.06.24
                    </div>
                    <div class="new-btn">
                        <span>
                            詳細資訊
                        </span>
                    </div>
                </a>
            </article>
        </div>
    </section>

    <!-- video -->
    <section class="video">
        <h1 class="title">
            <i class="fab fa-youtube"></i>相 關 影 片
        </h1>
        <div class="videowrap">

            <div class="videoitem" id="video1">
                <div class="v-imgwrap">
                    <img class="img-fulled" src="../img/thumbnail_1280X720.jpg" alt="">
                </div>
                <div class="block-canvas-video"><img src="../img/icn_movie_play.png" alt=""></div>
                <h3 class="v-intro">2019 嶄新特色 攜手培育未來人才</h3>
                <!-- <p class="v-intro-p">國立高雄科技大學是由高雄應用科技大學、高雄第一科技大學及高...</p> -->
            </div>

            <div class="videoitem" id="video2">
                <div class="v-imgwrap">
                    <img class="img-fulled" src="../img/thumbnail_1280X720 (1).jpg" alt="">
                </div>
                <div class="block-canvas-video"><img src="../img/icn_movie_play.png" alt=""></div>
                <h3 class="v-intro">2019 高科大離岸風電培訓中心</h3>
                <!-- <p class="v-intro-p">海洋的世界、海洋的產業，您有多少的認識呢？ 新興而起的風電產業，是台灣極力發展的未來產業，加入高科大，您都看得見！... -->
                </p>
            </div>
            <div class="videoitem" id="video3">
                <div class="v-imgwrap">
                    <img class="img-fulled" src="../img/thumbnail_1280X720 (2).jpg" alt="">
                </div>
                <div class="block-canvas-video"><img src="../img/icn_movie_play.png" alt=""></div>
                <h3 class="v-intro">2020 太陽光電人才搖籃「光翼e電園」</h3>
                <!-- <p class="v-intro-p">光翼e電園於108年10月1日正式開幕！ 光翼e電園為三層樓建築，一樓為高瞻扎根區，包含「太陽電池模組製作實驗室」... -->
                </p>
            </div>
        </div>
    </section>

    <!-- teacher -->
    <section class="teacher">
        <h1 class="title">
            <i class="fas fa-chalkboard-teacher"></i> 本 校 教 師 領 域 報 告
        </h1>

        <div class="teacherwrap">
            <div class="teachitem">
                <a href="#">
                    <img class="img-fulled d-h" src="https://picsum.photos/480/930?1" alt="">
                    <img class="img-fulled d-none" src="https://picsum.photos/640/275?1" alt="">
                    <div class="block-canvas item1"></div>
                </a>
            </div>
            <div class="teachitem">
                <a href="#">
                    <img class="img-fulled d-h" src="https://picsum.photos/480/930?2" alt="">
                    <img class="img-fulled d-none" src="https://picsum.photos/640/275?2" alt="">
                    <div class="block-canvas item2"></div>
                </a>
            </div>
            <div class="teachitem">
                <a href="#">
                    <img class="img-fulled d-h" src="https://picsum.photos/480/930?3" alt="">
                    <img class="img-fulled d-none" src="https://picsum.photos/640/275?3" alt="">
                    <div class="block-canvas item3"></div>

                </a>
            </div>
            <div class="teachitem">
                <a href="#">
                    <img class="img-fulled d-h" src="https://picsum.photos/480/930?4" alt="">
                    <img class="img-fulled d-none" src="https://picsum.photos/640/275?4" alt="">
                    <div class="block-canvas item4"></div>

                </a>
            </div>
        </div>
    </section>
    <div class="ifrem-wrap">
        <iframe width="580" height="270" src="https://www.youtube.com/embed/ejmKO7P6ETg" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen>
        </iframe>
        <i class="fas fa-times-circle closebtn"></i>
    </div>
    <div class="ifrem-wrap">
        <iframe width="580" height="270" src="https://www.youtube.com/embed/4uJLfiWQzWk" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen>
        </iframe>
        <i class="fas fa-times-circle closebtn"></i>
    </div>
    <div class="ifrem-wrap">
        <iframe width="580" height="270" src="https://www.youtube.com/embed/l4hyXXB1BEU" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen>
        </iframe>
        <i class="fas fa-times-circle closebtn"></i>
    </div>




    <!-- footer -->
    <footer>
        <div class="footertitle">
            <h1>國 立 高 雄 科 技 大 學</h1>
            <p>產學營運處 / 產學營運中心</p>
            <!-- <img src="../img/nkustlogo.png" alt="國立高雄科技大學"> -->
            <!-- <img src="../img/logo.png" alt="教師論文、產學及專利專區"> -->
        </div>
        <div class="footertext">
            <div class="footeritem">
                <p>第一校區地址<br> 82445高雄市燕巢區大學路1號
                    <br>西校區
                    <br> 81164高雄市楠梓區卓越路2號
                    <br> 傳真 : 07-6011067<br>
                </p>
            </div>
            <div class="footeritem">
                <p>建工校區地址<br> 80778高雄市三民區建工路415號
                    <br>燕巢校區
                    <br>82444 高雄市燕巢區深中路58號
                    <br> 傳真 : 07-3907424<br>
                </p>
            </div>
            <div class="footeritem">
                <p>楠梓校區地址<br> 81157高雄市楠梓區海專路142號
                    <br>旗津校區
                    <br> 80543 高雄市旗津區中洲三路482號
                    <br> 傳真 : 07-3630065<br>
                </p>
            </div>

        </div>
        <div class="copyright">
            &copy;copyright 2020 國立高雄科技大學 產學營運處
        </div>
    </footer>

    <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js'></script>
    <script src="../js/index.js"></script>

</body>

</html>