<!DOCTYPE html>
<html lang="zh-tw">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>高雄科技大學 產學營運中心</title>

    <!-- css link -->
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/normalize.css">
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.1/css/all.min.css' />
</head>

<body>
    <!-- navbar -->
    <div class="fixed-bar">
        <!-- <a href="index.html" title="教師論文、產學及專利專區" class="fixed-title">
            國立高雄科技大學 產學營運處
        </a> -->
        <a href="index.html" title="教師論文、產學及專利專區" class="logo">
            <img src="../img/NKUSTlogo2.png" alt="教師論文、產學及專利專區" class="fixed-img navlogo-d-none">
            <img src="../img/NKUSTlogo2.png" alt="教師論文、產學及專利專區" class="fixed-img navlogo-d-h">
        </a>
        <div class="searchwrap">
            <!-- <h2>教師產學計畫查詢</h2> -->
            <!-- <form action="">
                <input type="text" placeholder="請輸入關鍵字 ex:姓名、論文、計畫">
                <input type="submit" value="搜 尋">
            </form> -->
        </div>
    </div>


    <!-- content wrap -->
    <section class="full">
        <img src="../img/nkustlogofull.png" alt="">
        <div class="wrap">
            <div class="full-title">
                國立高雄科技大學 產學營運處
            </div>
            <div class="full-txt">
                教師產學計畫查詢系統
            </div>
        </div>
        <div class="search-wrap">
            <input class="search-txt" type="text" placeholder="請輸入關鍵字 ex:姓名、論文、計畫">
            <a class="search-btn" href="#">
                <i class="fas fa-search"></i>
            </a>
        </div>
    </section>

    <!-- new -->
    <section class="container">
        <h1 class="title">
            <i class="fas fa-paper-plane"></i> 最 新 消 息
        </h1>
        <div class="newwrap">
            <article>
                <a class="newitem" href="https://www.nkust.edu.tw/p/406-1000-33091,r12.php" target=_blank>
                    <div class="newitemimg">
                        <img src="../img/N1.jpg" alt="">
                    </div>
                    <div class="newtxtwrap">
                        <h2>智慧新農業 遠端監控兼收綠電及農產</h1>
                            <P>AI應用大熱門，只要資料庫夠大、整合能力夠強，一定都能找到發展舞台。</P>
                    </div>
                    <div class="newdate">
                        更新日:2020.06.24
                    </div>
                    <div class="new-btn">
                        <span>
                            詳細資訊
                        </span>
                    </div>
                </a>
            </article>
            <article>
                <a class="newitem" href="https://www.nkust.edu.tw/p/406-1000-33430,r12.php" target=_blank>
                    <div class="newitemimg">
                        <img src="../img/N2.jpg" alt="">
                    </div>
                    <div class="newtxtwrap">
                        <h2>經濟回溫 離岸風電荷蘭工程大廠大手招募新血</h1>
                            <P>2019年甫掛牌開幕的高科大離岸風電人才培訓中心，除了挺過COVID-19疫情威脅，持續進行課程、授證業務，也受邀在GWO全球線上會議分享台灣及高科大防疫經驗。</P>
                    </div>
                    <div class="newdate">
                        更新日:2020.06.24
                    </div>
                    <div class="new-btn">
                        <span>
                            詳細資訊
                        </span>
                    </div>
                </a>
            </article>
            <article>
                <a class="newitem" href="https://www.nkust.edu.tw/p/406-1000-31721,r12.php" target=_blank>
                    <div class="newitemimg">
                        <img src="../img/N3.jpg" alt="">
                    </div>
                    <div class="newtxtwrap">
                        <h2>高科大創新創業獲教育部肯定 團隊獲250萬元創業補助</h1>
                            <P>為鼓勵大專校院優化校園創業環境，協助青年學子創業實踐，教育部青年發展署推動「U-start創新創業計畫」及「U-start原漾計畫」兩項補助，日前公布第一階段獲選團隊名單，國立高雄科技大學表現突出，補助總獎金達250萬元，績效卓著深獲肯定。</P>
                    </div>
                    <div class="newdate">
                        更新日:2020.06.24
                    </div>
                    <div class="new-btn">
                        <span>
                            詳細資訊
                        </span>
                    </div>
                </a>
            </article>
        </div>
    </section>

    <!-- video -->
    <section class="video">
        <h1 class="title">
            <i class="fab fa-youtube"></i>相 關 影 片
        </h1>
        <div class="videowrap">

            <div class="videoitem" id="video1">
                <div class="v-imgwrap">
                    <img class="img-fulled" src="../img/thumbnail_1280X720.jpg" alt="">
                </div>
                <div class="block-canvas-video"><img src="../img/icn_movie_play.png" alt=""></div>
                <h3 class="v-intro">2019 嶄新特色 攜手培育未來人才</h3>
                <!-- <p class="v-intro-p">國立高雄科技大學是由高雄應用科技大學、高雄第一科技大學及高...</p> -->
            </div>

            <div class="videoitem" id="video2">
                <div class="v-imgwrap">
                    <img class="img-fulled" src="../img/thumbnail_1280X720 (1).jpg" alt="">
                </div>
                <div class="block-canvas-video"><img src="../img/icn_movie_play.png" alt=""></div>
                <h3 class="v-intro">2019 高科大離岸風電培訓中心</h3>
                <!-- <p class="v-intro-p">海洋的世界、海洋的產業，您有多少的認識呢？ 新興而起的風電產業，是台灣極力發展的未來產業，加入高科大，您都看得見！... -->
                </p>
            </div>
            <div class="videoitem" id="video3">
                <div class="v-imgwrap">
                    <img class="img-fulled" src="../img/thumbnail_1280X720 (2).jpg" alt="">
                </div>
                <div class="block-canvas-video"><img src="../img/icn_movie_play.png" alt=""></div>
                <h3 class="v-intro">2020 太陽光電人才搖籃「光翼e電園」</h3>
                <!-- <p class="v-intro-p">光翼e電園於108年10月1日正式開幕！ 光翼e電園為三層樓建築，一樓為高瞻扎根區，包含「太陽電池模組製作實驗室」... -->
                </p>
            </div>
        </div>
    </section>

    <!-- teacher -->
    <section class="teacher">
        <h1 class="title">
            <i class="fas fa-chalkboard-teacher"></i> 本 校 教 師 領 域 報 告
        </h1>

        <div class="teacherwrap">
            <div class="teachitem">
                <a href="#">
                    <img class="img-fulled d-h" src="../img/T1B.jpg" alt="">
                    <img class="img-fulled d-none" src="../img/T1S.jpg" alt="">
                    <div class="block-canvas item1"></div>
                </a>
            </div>
            <div class="teachitem">
                <a href="#">
                    <img class="img-fulled d-h" src="../img/T2B.jpg" alt="">
                    <img class="img-fulled d-none" src="../img/T2S.jpg" alt="">
                    <div class="block-canvas item2"></div>
                </a>
            </div>
            <div class="teachitem">
                <a href="#">
                    <img class="img-fulled d-h" src="../img/T3B.jpg" alt="">
                    <img class="img-fulled d-none" src="../img/T3S.jpg" alt="">
                    <div class="block-canvas item3"></div>

                </a>
            </div>
            <div class="teachitem">
                <a href="#">
                    <img class="img-fulled d-h" src="../img/T4B.jpg" alt="">
                    <img class="img-fulled d-none" src="../img/T4S.jpg" alt="">
                    <div class="block-canvas item4"></div>

                </a>
            </div>
        </div>
    </section>
    <div class="ifrem-wrap">
        <iframe width="580" height="270" src="https://www.youtube.com/embed/ejmKO7P6ETg" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen>
        </iframe>
        <i class="fas fa-times-circle closebtn"></i>
    </div>
    <div class="ifrem-wrap">
        <iframe width="580" height="270" src="https://www.youtube.com/embed/4uJLfiWQzWk" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen>
        </iframe>
        <i class="fas fa-times-circle closebtn"></i>
    </div>
    <div class="ifrem-wrap">
        <iframe width="580" height="270" src="https://www.youtube.com/embed/l4hyXXB1BEU" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen>
        </iframe>
        <i class="fas fa-times-circle closebtn"></i>
    </div>


    <!-- map -->
    <div class="map">
        <div class="mapwrap">
            <div class="mapimgwrap">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d4378.805732808712!2d120.3277887338501!3d22.649237864126608!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x346e04d91d096a91%3A0x75ce7e7f7c793c56!2z5ZyL56uL6auY6ZuE56eR5oqA5aSn5a24KOW7uuW3peagoeWNgCk!5e0!3m2!1szh-TW!2stw!4v1593481531606!5m2!1szh-TW!2stw"
                    width="600" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
            </div>
            <div class="maptxtwrap">
                <div class="mapintro">
                    <h1>地址</h1>
                    <p>80778高雄市三民區建工路415號</p>
                </div>
                <div class="mapintro">
                    <h1>交通資訊</h1>
                    <!-- <a href="https://rpage.nkust.edu.tw/p/412-1000-1920.php" target=_blank>點擊查看交通資訊</a> -->
                    各線公車： <br> 高雄科大(建工)：<br>16、217、33、37、53、8008、8009、8021、8041、8049、81、紅30A、紅30B(寒暑假停駛)、黃1線。<br> <br> 高雄高工：<br>0北、0南、168環狀東幹線、168環狀西幹線、33、37、81、8503。 <br><br> 搭火車：由高雄火車站直接轉公車紅30至高雄科大(建工)。
                    <br><br> 搭高鐵：由左營高鐵站直接轉公車16A至高雄科大(建工)。
                    <br> <br>搭捷運：由後驛站直接轉公車紅30至高雄科大(建工)。
                    <br>

                </div>

            </div>
        </div>

    </div>


    <!-- footer -->
    <footer>
        <div class="footertitle">
            <h1>國 立 高 雄 科 技 大 學</h1>
            <p>產學營運處 / 產學營運中心</p>
            <!-- <img src="../img/nkustlogo.png" alt="國立高雄科技大學"> -->
            <!-- <img src="../img/logo.png" alt="教師論文、產學及專利專區"> -->
        </div>
        <div class="footertext">
            <div class="footeritem">
                <p>第一校區<br> 82445高雄市燕巢區大學路1號
                    <br>西校區
                    <br> 81164高雄市楠梓區卓越路2號
                    <br> 傳真 : 07-6011067<br>
                </p>
            </div>
            <div class="footeritem">
                <p>建工校區<br> 80778高雄市三民區建工路415號
                    <br>燕巢校區
                    <br>82444 高雄市燕巢區深中路58號
                    <br> 傳真 : 07-3907424<br>
                </p>
            </div>
            <div class="footeritem">
                <p>楠梓校區<br> 81157高雄市楠梓區海專路142號
                    <br>旗津校區
                    <br> 80543 高雄市旗津區中洲三路482號
                    <br> 傳真 : 07-3630065<br>
                </p>
            </div>

        </div>
        <div class="copyright">
            &copy;copyright 2020 國立高雄科技大學 產學營運處
        </div>
    </footer>

    <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js'></script>
    <script src="../js/index.js"></script>

</body>

</html>