<!DOCTYPE html>
<html lang="zh-tw">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>高雄科技大學教師媒合網</title>

    <!-- css link -->
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/normalize.css">
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.1/css/all.min.css' />
</head>

<body>
    <div class="blockbgc"></div>
    <!-- navbar -->
    <div class="fixed-bar">
        <a href="index.html" title="教師論文、產學及專利專區" class="logo">
            <img src="../img/NKUSTlogo2.png" alt="教師論文、產學及專利專區" class="fixed-img navlogo-d-none">
            <img src="../img/NKUSTlogo2.png" alt="教師論文、產學及專利專區" class="fixed-img navlogo-d-h">
        </a>
        <div class="searchwrap">
        </div>
    </div>


    <!-- content wrap -->
    <section class="full">
        <img src="../img/nkustlogofull.png" alt="">
        <div class="wrap">
            <div class="full-title">
                國立高雄科技大學 產學營運處
            </div>
            <div class="full-txt">
                教師產學計畫查詢系統
            </div>
        </div>
        <a href="http://140.133.78.134/frontend-theproject/#/pfev" class="fullsearchbtn" target="_blank">前 往 查 詢 系 統</a>
        <!-- <div class="search-wrap">
            <input class="search-txt" type="text" placeholder="請輸入關鍵字 ex:姓名、論文、計畫">
            <a class="search-btn" href="#">
                <i class="fas fa-search"></i>
            </a>
        </div> -->
    </section>

    <!-- new -->
    <section class="container">
        <h1 class="title">
            <i class="fas fa-paper-plane"></i> 最 新 消 息
        </h1>
        <div class="newwrap">
            <article>
                <a class="newitem" href="https://www.nkust.edu.tw/p/406-1000-33091,r12.php" target=_blank>
                    <div class="newitemimg">
                        <img src="../img/N1.jpg" alt="">
                    </div>
                    <div class="newtxtwrap">
                        <h2>智慧新農業 遠端監控兼收綠電及農產</h1>
                            <P>AI應用大熱門，只要資料庫夠大、整合能力夠強，一定都能找到發展舞台。</P>
                    </div>
                    <div class="newdate">
                        更新日:2020.06.24
                    </div>
                    <div class="new-btn">
                        <span>
                            詳細資訊
                        </span>
                    </div>
                </a>
            </article>
            <article>
                <a class="newitem" href="https://www.nkust.edu.tw/p/406-1000-33430,r12.php" target=_blank>
                    <div class="newitemimg">
                        <img src="../img/N2.jpg" alt="">
                    </div>
                    <div class="newtxtwrap">
                        <h2>經濟回溫 離岸風電荷蘭工程大廠大手招募新血</h1>
                            <P>2019年甫掛牌開幕的高科大離岸風電人才培訓中心，除了挺過COVID-19疫情威脅，持續進行課程、授證業務，也受邀在GWO全球線上會議分享台灣及高科大防疫經驗。</P>
                    </div>
                    <div class="newdate">
                        更新日:2020.06.24
                    </div>
                    <div class="new-btn">
                        <span>
                            詳細資訊
                        </span>
                    </div>
                </a>
            </article>
            <article>
                <a class="newitem" href="https://www.nkust.edu.tw/p/406-1000-31721,r12.php" target=_blank>
                    <div class="newitemimg">
                        <img src="../img/N3.jpg" alt="">
                    </div>
                    <div class="newtxtwrap">
                        <h2>高科大創新創業獲教育部肯定 團隊獲250萬元創業補助</h1>
                            <P>為鼓勵大專校院優化校園創業環境，協助青年學子創業實踐，教育部青年發展署推動「U-start創新創業計畫」及「U-start原漾計畫」兩項補助，日前公布第一階段獲選團隊名單，國立高雄科技大學表現突出，補助總獎金達250萬元，績效卓著深獲肯定。
                            </P>
                    </div>
                    <div class="newdate">
                        更新日:2020.06.24
                    </div>
                    <div class="new-btn">
                        <span>
                            詳細資訊
                        </span>
                    </div>
                </a>
            </article>
        </div>
    </section>

    <!-- video -->
    <section class="video">
        <h1 class="title">
            <i class="fab fa-youtube"></i>相 關 影 片
        </h1>
        <div class="videowrap">

            <div class="videoitem" id="video1">
                <div class="v-imgwrap">
                    <img class="img-fulled" src="../img/thumbnail_1280X720.jpg" alt="">
                </div>
                <div class="block-canvas-video"><img src="../img/icn_movie_play.png" alt=""></div>
                <h3 class="v-intro">2019 嶄新特色 攜手培育未來人才</h3>
            </div>

            <div class="videoitem" id="video2">
                <div class="v-imgwrap">
                    <img class="img-fulled" src="../img/thumbnail_1280X720 (1).jpg" alt="">
                </div>
                <div class="block-canvas-video"><img src="../img/icn_movie_play.png" alt=""></div>
                <h3 class="v-intro">2019 高科大離岸風電培訓中心</h3>
                </p>
            </div>
            <div class="videoitem" id="video3">
                <div class="v-imgwrap">
                    <img class="img-fulled" src="../img/thumbnail_1280X720 (2).jpg" alt="">
                </div>
                <div class="block-canvas-video"><img src="../img/icn_movie_play.png" alt=""></div>
                <h3 class="v-intro">2020 太陽光電人才搖籃「光翼e電園」</h3>
                </p>
            </div>
        </div>
    </section>

    <!-- teacher -->
    <section class="teacher">
        <h1 class="title">
            <i class="fas fa-chalkboard-teacher"></i> 本 校 教 師 領 域 報 告
        </h1>

        <div class="teacherwrap">
            <div class="teachitem">
                <a>
                    <img class="img-fulled d-h" src="../img/T1B.jpg" alt="">
                    <img class="img-fulled d-none" src="../img/T1S.jpg" alt="">
                    <div class="block-canvas item1"></div>
                </a>
            </div>

            <div class="teachitem">

                <a>
                    <img class="img-fulled d-h" src="../img/T2B.jpg" alt="">
                    <img class="img-fulled d-none" src="../img/T2S.jpg" alt="">
                    <div class="block-canvas item2"></div>
                </a>
            </div>
            <div class="teachitem">

                <a>
                    <img class="img-fulled d-h" src="../img/T3B.jpg" alt="">
                    <img class="img-fulled d-none" src="../img/T3S.jpg" alt="">
                    <div class="block-canvas item3"></div>

                </a>
            </div>
            <div class="teachitem">

                <a>
                    <img class="img-fulled d-h" src="../img/T4B.jpg" alt="">
                    <img class="img-fulled d-none" src="../img/T4S.jpg" alt="">
                    <div class="block-canvas item4"></div>

                </a>
            </div>
        </div>
    </section>
    <div class="intro">
        <div class="intro-container">
            <!-- <img class="intro-img" src="../img/T1.jpg" alt="智能製造"> -->
            <div class="intro-tablewrap">
                <table>
                    <thead>
                        <tr>
                            <th class="t-name">姓名</th>
                            <th class="t-plan">計畫名稱</th>
                            <th class="t-operating">操作</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th class="t-name">方得華
                            </th>
                            <th>智慧感測器於物聯網應用研究<br> BGA相關材料與製程之提升
                                <br> BGA相關材料與製程之提升
                                <br> BGA相關材料與製程之提升
                                <br> 模組化節能水下照明設備技術開發
                            </th>
                            <th class="t-operating">
                                <a href="http://140.133.78.134/frontend-theproject/#/pfev/detail?professorId=ec75583f-75a7-4866-d45e-08d761218de8&tab=1" target="_blank">詳細資訊</a>
                            </th>
                        </tr>
                        <tr>
                            <th class="t-name">王振華
                            </th>
                            <th>長春集團設備完整性建置計畫第三階段(長春人造樹脂廠)<br> 電腦化維修管理系統(cmms)各廠建置輔導(二)(長春人造樹脂)
                                <br> 長春集團設備完整性建置計畫(四)(長春人造樹脂)
                                <br> 電腦化維修管理系統(cmms)建置輔導合約-長春人造樹脂
                                <br> 石化產業高風險化學品風險評估與智慧防災技術開發-子計畫:高風險石化製程設備安全資料庫與智慧化評估技術建置(I)
                            </th>
                            <th class="t-operating">
                                <a href="http://140.133.78.134/frontend-theproject/#/pfev/detail?professorId=f0a3cea1-1d41-4670-d4cd-08d761218de8&tab=1" target="_blank">詳細資訊</a>
                            </th>
                        </tr>
                        <tr>
                            <th class="t-name">吳杉堯
                            </th>
                            <th>盛餘公司現場工程師數據分析能力提升專案第二期<br> 盛餘公司現場工程師數據分析能力提升專案
                            </th>
                            <th class="t-operating">
                                <a href="http://140.133.78.134/frontend-theproject/#/pfev/detail?professorId=93f7faa1-4d3c-4aa8-d4a2-08d761218de8&tab=1" target="_blank">詳細資訊</a>
                            </th>
                        </tr>
                        <tr>
                            <th class="t-name">卓明遠
                            </th>
                            <th>106年度「南科智慧製造產業聚落服務平臺推動計畫」 107年度「南科智慧製造產業聚落服務平臺推動計畫」
                                <br> 中南部產業智慧製造需求調查及分析建議
                                <br> 南部智慧製造與服務型機器人推廣與調查服務計畫<br> 智慧製造系列課程與人才媒合會
                            </th>
                            <th class="t-operating">
                                <a href="http://140.133.78.134/frontend-theproject/#/pfev/detail?professorId=229cc674-e10b-4812-d519-08d761218de8&tab=1" target="_blank">詳細資訊</a>
                            </th>
                        </tr>
                        <tr>
                            <th class="t-name">周至宏
                            </th>
                            <th>「單機設備或單元智能控制系統前瞻技術及加值軟體研發」推動規劃計畫(2/3)<br> 具有深度學習能力之賣場智慧機器人(2/3)
                                <br> 優化算法的可控制性分析及其在智慧製造之優化應用(1/3)
                                <br> 具有深度學習能力之賣場智慧機器人(3/3)
                                <br> 「單機設備或單元智能控制系統前瞻技術及加值軟體研發」推動規劃計畫
                            </th>
                            <th class="t-operating">
                                <a href="http://140.133.78.134/frontend-theproject/#/pfev/detail?professorId=224df464-f743-487d-d51b-08d761218de8&tab=1" target="_blank">詳細資訊</a>
                            </th>
                        </tr>
                        <tr>
                            <th class="t-name">林栢村
                            </th>
                            <th>收口打火門眼設備之模座及模核及附屬配件開發製作<br> 功能性夾治具設計技術
                                <br> 智能化沖壓製程監控與軟體系統研發-智能化沖壓製程監控與軟體系統研發(II)(1/2)
                                <br> 金屬沖壓製品模具智慧監診技術開發計畫
                                <br> 智能化沖壓模具專業研發人才企業實習課程
                            </th>
                            <th class="t-operating">
                                <a href="http://140.133.78.134/frontend-theproject/index.html#/pfev/detail?professorId=c78aa2fc-e9a5-479d-d4da-08d761218de8&tab=1" target="_blank">詳細資訊</a>
                            </th>
                        </tr>
                        <tr>
                            <th class="t-name">許光城
                            </th>
                            <th>模具缺陷智慧預診模組-沖棒損傷對鍛造負荷之影響<br> 六角凸緣螺栓多道次鍛造技術之研究
                                <br> 鋁合金擠製一致化模具設計方法之研究
                            </th>
                            <th class="t-operating">
                                <a href="#" target="_blank">詳細資訊</a>
                            </th>
                        </tr>
                        <tr>
                            <th class="t-name">許進忠
                            </th>
                            <th>應用類神經網路於扣件製程優化技術<br> 鋁門窗及帷幕產品設計製造及檢測技術輔導計畫
                                <br> 鍛造輥軋工程研究中心
                                <br> 管成形智慧製造設計與分析技術
                                <br> 鋁門窗及帷幕產品設計製造及檢測技術輔導計畫(II)
                            </th>
                            <th class="t-operating">
                                <a href="http://140.133.78.134/frontend-theproject/#/pfev/detail?professorId=feab2ab2-5dfb-4006-d46a-08d761218de8&tab=1" target="_blank">詳細資訊</a>
                            </th>
                        </tr>
                        <tr>
                            <th class="t-name">郭文正
                            </th>
                            <th>105年度高值化金屬材料暨製造技術研發計畫(4/4)專案計畫-化學氣相沉積生物活性表面處理之研究<br> 聚對二甲苯鍍膜製作及檢測
                                <br> 無線感測智慧血管支架系統之開發-子計畫四:無線加熱血管支架之加熱與溫控之研究與開發(II)
                                <br> 高性能電子陶瓷微結構及性質分析
                                <br> 無線感測智慧血管支架系統之開發-子計畫四：無線加熱血管支架之加熱與溫控之研究與開發(III)
                            </th>
                            <th class="t-operating">
                                <a href="http://140.133.78.134/frontend-theproject/#/pfev/detail?professorId=a65bdfde-b7bf-4607-d4ed-08d761218de8&tab=1" target="_blank">詳細資訊</a>
                            </th>
                        </tr>
                        <tr>
                            <th class="t-name">郭峻志
                            </th>
                            <th>基於物聯網之製造設備管理系統</th>
                            <th class="t-operating">
                                <a href="http://140.133.78.134/frontend-theproject/#/pfev/detail?professorId=76d4669e-2302-4380-d4f3-08d761218de8&tab=1" target="_blank">詳細資訊</a>
                            </th>
                        </tr>
                        <tr>
                            <th class="t-name">辜德典
                            </th>
                            <th>智慧電網示範系統建置(2/2)</th>
                            <th class="t-operating">
                                <a href="http://140.133.78.134/frontend-theproject/#/pfev/detail?professorId=63eb0fc7-30b5-468c-d528-08d761218de8&tab=1" target="_blank">詳細資訊</a>
                            </th>
                        </tr>
                        <tr>
                            <th class="t-name">黃世疇
                            </th>
                            <th>產學合作計畫-汽機車傳動件多道次鍛造製程之數值模擬最佳化分析<br> 汽機車傳動零件鍛造製程最佳化設計
                                <br> 汽機車鍛造件之缺陷預成型處理與最佳化分析
                                <br> 鍛造件之缺陷預成型處理與最佳化分析
                            </th>
                            <th class="t-operating">
                                <a href="http://140.133.78.134/frontend-theproject/#/pfev/detail?professorId=360cb8f1-87c7-4e90-d46f-08d761218de8&tab=1" target="_blank">詳細資訊</a>
                            </th>
                        </tr>
                        <tr>
                            <th class="t-name">楊俊彬
                            </th>
                            <th>車用鍛造齒輪模具設計與開發之技術<br> 鍛造產線之規劃與設計
                                <br> 金屬表面微結構與磨潤性能關聯性研究與驗證測試
                                <br> 精密鍛造製程技術提升乙式
                                <br> 中空件鍛造製程於機車傳動軸件應用之研究
                            </th>
                            <th class="t-operating">
                                <a href="http://140.133.78.134/frontend-theproject/#/pfev/detail?professorId=b7d80afe-8aea-4679-d4ee-08d761218de8&tab=1" target="_blank">詳細資訊</a>
                            </th>
                        </tr>
                        <tr>
                            <th class="t-name">楊浩青
                            </th>
                            <th>製程鍛造力可視化實驗與分析<br> 扣件成形製程與壓力訊號之關聯性
                                <br> 刀具切削物理量檢測-無線傳輸機能
                                <br> 扣件成形壓力訊號與模具耗損及製程失效之關聯性研究
                                <br> 金屬扣件成形製程與品質失效狀態遠端分析預診之研究
                            </th>
                            <th class="t-operating">
                                <a href="http://140.133.78.134/frontend-theproject/#/pfev/detail?professorId=45f0a936-920b-48fb-d52b-08d761218de8&tab=1" target="_blank">詳細資訊</a>
                            </th>
                        </tr>
                        <tr>
                            <th class="t-name">劉東官
                            </th>
                            <th>全方位智慧型最佳化生產策略輔助規劃系統建置2 精密鑄造業工業4.0技術應用(續三)輔導計畫書 智慧型整合人機加工生產與機械手臂應用技術研發 應用智慧製造技術提升3D列印金屬粉末製程良率與產能 精密鑄造業工業4.0技術應用(續四)輔導
                            </th>
                            <th class="t-operating">
                                <a href="http://140.133.78.134/frontend-theproject/index.html#/pfev/detail?professorId=e15fb20d-6f06-4581-d4e3-08d761218de8&tab=1" target="_blank">詳細資訊</a>
                            </th>
                        </tr>
                        <tr>
                            <th class="t-name">蘇明鴻
                            </th>
                            <th>建構加工刀具隨機連續磨損過程與顧客為導向之可靠性衡量和智慧製造應用(1/3) <br> 建構加工刀具隨機連續磨損過程與顧客為導向之可靠性衡量和智慧製造應用
                                <br> 可靠度工程作業手冊建立與智能水表壽命驗證與評估
                            </th>
                            <th class="t-operating">
                                <a href="http://140.133.78.134/frontend-theproject/index.html#/pfev/detail?professorId=095e6d53-94a8-4de7-d4a0-08d761218de8&tab=1" target="_blank">詳細資訊</a>
                            </th>
                        </tr>

                    </tbody>
                </table>
            </div>
            <div class="intro-txtwrap">
                <img src="../img/T1.jpg" alt="智能製造">
                <h1>智能製造</h1>
                <p>開發智能製造與應用科技核心技術，將學校技術鏈結至產業應用，為國內智能製造與智慧科技應用產業提供服務，培育本校具備國內智能製造及智慧產業防災支援服務與系統整合專業領域。 </p>
                <p class="intro-prompt">目前本校智能製造領域成果如欲搜尋詳細資訊請使用教師產學查詢系統</p>
                <a href="http://140.133.78.134/frontend-theproject/#/pfev" target="_blank" class="fullsearchbtn">前往查詢網站</a>
                <button class="introclosebtn">關閉視窗</button>
            </div>
        </div>
    </div>
    <div class="intro">
        <div class="intro-container">
            <div class="intro-tablewrap">
                <table>
                    <thead>
                        <tr>
                            <th class="t-name">姓名</th>
                            <th class="t-plan">計畫名稱</th>
                            <th class="t-operating">操作</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th class="t-name">朱彥銘
                            </th>
                            <th>高雄市政府公務人員人力發展中心「大數據分析及資訊視覺化認證班」委外規劃案 <br> 智慧停車場資訊系統開發顧問服務
                                <br> 求職導師：用於輔導求職的人工智慧系統與服務
                                <br> SAP智能客服聊天機器人暨顧客應答分析管理系統
                                <br> 1111人力銀行面試輔導智慧化技術研究合作案：技術顧問案
                            </th>
                            <th class="t-operating"><a href="http://140.133.78.134/frontend-theproject/#/pfev/detail?professorId=5f58abab-6631-4b8f-d65e-08d761218de8&tab=1">詳細資訊</a>
                            </th>
                        </tr>
                        <tr>
                            <th class="t-name">李嘉紘
                            </th>
                            <th>運用深度學習演算法提升AR智慧眼鏡辨識效能之研究<br> 智慧零售資訊系統開發顧問服務
                                <br> 利用深度學習與擴增實境技術於智慧餐桌設計之研究
                            </th>
                            <th class="t-operating"><a href="#">詳細資訊</a></th>
                        </tr>
                        <tr>
                            <th class="t-name">周棟祥
                            </th>
                            <th>智能工廠倉儲管理計數器<br> 利用物聯網結合服務設計建構智慧雨量計
                                <br> 基於O2O模式探討設計思維對服務體驗與線下購買意圖之影響-以臺灣餐飲業為例
                                <br> 雲端服務機房建置規劃計畫
                                <br> 在地服務創新創意計畫
                            </th>
                            <th class="t-operating"><a href="http://140.133.78.134/frontend-theproject/index.html#/pfev/detail?professorId=d2ece6d6-c82d-4758-d64d-08d761218de8&tab=1">詳細資訊</a>
                            </th>
                        </tr>
                        <tr>
                            <th class="t-name">徐偉智
                            </th>
                            <th>手動堆高機用智慧型馬達牽引車開發<br> 106年度產學合作資訊服務中心維運計畫
                                <br> 以高教為目標市場之020智慧販賣系統設計與教學教材開發
                                <br> 智慧科技導入中小企業輔導專案
                                <br> 建案安全把關的點交服務系統
                            </th>
                            <th class="t-operating"><a href="http://140.133.78.134/frontend-theproject/index.html#/pfev/detail?professorId=282119d4-c48c-48d5-d564-08d761218de8&tab=1">詳細資訊</a>
                            </th>
                        </tr>
                        <tr>
                            <th class="t-name">張俊陽
                            </th>
                            <th>商業流程自動化(RPA)行銷科技服務實證採購案</th>
                            <th class="t-operating"><a href="http://140.133.78.134/frontend-theproject/#/pfev/detail?professorId=c1ca9358-154e-4989-d642-08d761218de8&tab=1">詳細資訊</a>
                            </th>
                        </tr>
                        <tr>
                            <th class="t-name">許孟祥
                            </th>
                            <th>社交商務關鍵成功因素及金融科技對商務的影響(2/2) <br> 區塊鏈技術之健康關懷服務系統
                                <br> CHILL區塊鏈問卷調查平台服務系統
                                <br> 區塊鏈、擴增智慧與無人機創新研發與創業計畫
                            </th>
                            <th class="t-operating"><a href="http://140.133.78.134/frontend-theproject/#/pfev/detail?professorId=330fee60-f865-4ee7-d651-08d761218de8&tab=1">詳細資訊</a>
                            </th>
                        </tr>
                        <tr>
                            <th class="t-name">傅新彬
                            </th>
                            <th>智慧電子學院計畫-開班績效評鑑<br> 智慧電子學院計畫-適性職能建置及開班績效評鑑
                                <br> 智慧電子學院計畫－適性職能建置及開班績效評鑑
                                <br> 智慧電子學院計畫-開班績效評鑑
                                <br> 新型態智慧科技示範應用推動規劃
                            </th>
                            <th class="t-operating"><a href="http://140.133.78.134/frontend-theproject/#/pfev/detail?professorId=ad5c0f3b-ee71-4555-d67e-08d761218de8&tab=1">詳細資訊</a>
                            </th>
                        </tr>
                        <tr>
                            <th class="t-name">楊景傅
                            </th>
                            <th>經濟部工業局[智慧城鄉生活應用補助計畫-屏東智慧停車管理系統暨商圈消費平台整合服務體驗計畫]委託研究</th>
                            <th class="t-operating"><a href="http://140.133.78.134/frontend-theproject/index.html#/pfev/detail?professorId=2841c5f1-4c1a-4b98-d683-08d761218de8&tab=1">詳細資訊</a>
                            </th>
                        </tr>
                        <tr>
                            <th class="t-name">趙清成
                            </th>
                            <th>高雄國際航空站各項服務旅客滿意度調查 <br> 智慧化機場之發展架構及建置評估
                            </th>
                            <th class="t-operating"><a href="http://140.133.78.134/frontend-theproject/index.html#/pfev/detail?professorId=c8eab7b8-eed0-44a3-d6b5-08d761218de8&tab=1">詳細資訊</a>
                            </th>
                        </tr>
                        <tr>
                            <th class="t-name">歐宗殷
                            </th>
                            <th>智慧零售中心營運及創新商業模式研發計畫 <br> 商品銷售預測資料分析與模式評估
                                <br> 連鎖門市商品銷售分析方法之研究
                                <br> 全家便利商店鮮食銷售預測及訂購建議計畫
                                <br> 合作推廣跨境電商計畫
                            </th>
                            <th class="t-operating"><a href="http://140.133.78.134/frontend-theproject/#/pfev/detail?professorId=9d152be5-1ca4-4588-d68b-08d761218de8&tab=1">詳細資訊</a>
                            </th>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="intro-txtwrap">
                <img src="../img/T2.jpg" alt="智能商務">
                <h1>智能商務</h1>
                <p>因應雲端世界的來臨，高科大結合人工智慧與大數據分析技術於商業管理，為智慧科技與商務應用的跨界整合，進行智慧金融科技創新服務及跨境電商新南向創新服務，培育智慧商務領域所需人才。 </p>
                <p class="intro-prompt">目前本校智慧商務領域成果如欲搜尋詳細資訊請使用教師產學查詢系統</p>
                <a href="http://140.133.78.134/frontend-theproject/#/pfev" target="_blank" class="fullsearchbtn">前往查詢網站</a>
                <button class="introclosebtn">關閉視窗</button>
            </div>
        </div>
    </div>

    <div class="intro">
        <div class="intro-container">
            <div class="intro-tablewrap">
                <table>
                    <thead>
                        <tr>
                            <th class="t-name">姓名</th>
                            <th class="t-plan">計畫名稱</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th class="t-name"></th>
                            <th></th>
                        </tr>
                        <tr>
                            <th class="t-name"></th>
                            <th></th>
                        </tr>
                        <tr>
                            <th class="t-name"></th>
                            <th></th>
                        </tr>
                        <tr>
                            <th class="t-name"></th>
                            <th></th>
                        </tr>
                        <tr>
                            <th class="t-name"></th>
                            <th></th>
                        </tr>
                        <tr>
                            <th class="t-name"></th>
                            <th></th>
                        </tr>
                        <tr>
                            <th class="t-name"></th>
                            <th></th>
                        </tr>
                        <tr>
                            <th class="t-name"></th>
                            <th></th>
                        </tr>
                        <tr>
                            <th class="t-name"></th>
                            <th></th>
                        </tr>
                        <tr>
                            <th class="t-name"></th>
                            <th></th>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="intro-txtwrap">
                <img src="../img/T3.jpg" alt="海洋科技">
                <h1>海洋科技</h1>
                <p>以「海洋產業」及「海洋人才」為主軸，發展「海洋科技」產學研發基礎，並連結高雄港區在地產業需求，發展遊艇服務產業及水下地形測繪及目標識別等，使海洋產業價值提升與創新，並追求永續發展。 </p>
                <p class="intro-prompt">目前本校海洋科技領域成果如欲搜尋詳細資訊請使用教師產學查詢系統</p>
                <a href="http://140.133.78.134/frontend-theproject/#/pfev" target="_blank" class="fullsearchbtn">前往查詢網站</a>
                <button class="introclosebtn">關閉視窗</button>
            </div>
        </div>
    </div>
    <div class="intro">
        <div class="intro-container">
            <div class="intro-tablewrap">
                <table>
                    <thead>
                        <tr>
                            <th class="t-name">姓名</th>
                            <th class="t-plan">計畫名稱</th>
                            <th class="t-operating">操作</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th class="t-name">余志成
                            </th>
                            <th>文創商品設計與製作<br> 2016國際創新創業研習活動
                                <br> 文創商品設計與製作
                            </th>
                            <th class="t-operating">
                                <a href="http://140.133.78.134/frontend-theproject/#/pfev/detail?professorId=75172634-993a-4fe7-d4d9-08d761218de8&tab=1" target="_blank">詳細資訊</a>
                            </th>
                        </tr>
                        <tr>
                            <th class="t-name">宋毅仁
                            </th>
                            <th>健康樂銀智慧用藥提醒系統先期調查計畫<br> 屏東縣馬達節能產品應用創意競賽
                                <br> 健康樂銀智慧用藥提醒系統開發計畫
                                <br>
                            </th>
                            <th class="t-operating">
                                <a href="http://140.133.78.134/frontend-theproject/#/pfev/detail?professorId=3cb8b1d1-3f22-47e3-d4ef-08d761218de8&tab=1" target="_blank">詳細資訊</a>
                            </th>
                        </tr>
                        <tr>
                            <th class="t-name">李國維
                            </th>
                            <th>辦理創新智造活動<br> 創意創新教學設計研習營
                                <br> 魯笠將文創商品開發製作與辦理實作工坊
                                <br> 創新產品開發
                            </th>
                            <th class="t-operating">
                                <a href="http://140.133.78.134/frontend-theproject/#/pfev/detail?professorId=ac0145ed-9764-4733-da0d-08d761218de8&tab=1" target="_blank">詳細資訊</a>
                            </th>
                        </tr>
                        <tr>
                            <th class="t-name">林龍吟
                            </th>
                            <th>跨領域技術應用於智慧型多功能歐規電子鎖設計研發<br> 睡眠輔助創新產品設計開發
                                <br> 具長照輔助需求的創意產品概念設計
                                <br> 跨領域創意加值空氣清淨機概念設計
                                <br> 跨領域技術應用於物聯網智能定位複合式門禁讀取設備設計研發
                            </th>
                            <th class="t-operating">
                                <a href="http://140.133.78.134/frontend-theproject/#/pfev/detail?professorId=b7599ec5-d04e-4dba-d4f5-08d761218de8&tab=1" target="_blank">詳細資訊</a>
                            </th>
                        </tr>
                        <tr>
                            <th class="t-name">許麗玲
                            </th>
                            <th>農業跨域整合智慧創新應用之預期效益</th>
                            <th class="t-operating">
                                <a href="http://140.133.78.134/frontend-theproject/#/pfev/detail?professorId=ed1588d0-423c-43fa-d652-08d761218de8&tab=1" target="_blank">詳細資訊</a>
                            </th>
                        </tr>
                        <tr>
                            <th class="t-name">翟治平
                            </th>
                            <th>青春X文創 原味品生活文創市集活動<br> 多元就業開發方案-行銷及整合平台「多元好創意．市集彩繪趣」活動
                                <br> 高雄市政府勞工局視障按摩文宣品設計製作案
                                <br> 創市祭 青春x文創市集<br> 青春X文創市集　設計尬古意活動
                            </th>
                            <th class="t-operating">
                                <a href="http://140.133.78.134/frontend-theproject/#/pfev/detail?professorId=1ce86b4d-868f-4e71-d711-08d761218de8&tab=1" target="_blank">詳細資訊</a>
                            </th>
                        </tr>
                        <tr>
                            <th class="t-name">劉志興
                            </th>
                            <th>觀光餐旅創新創業人才培育計畫-觀光創新創業人才培育計畫<br> 產業營運性關鍵成功因素暨競爭優勢分析：從社會網路理論、智慧資本及創業家精神角度探討
                            </th>
                            <th class="t-operating">
                                <a href="http://140.133.78.134/frontend-theproject/#/pfev/detail?professorId=ac4f3326-9f63-4a51-d636-08d761218de8&tab=1" target="_blank">詳細資訊</a>
                            </th>
                        </tr>
                        <tr>
                            <th class="t-name">蔡坤穆
                            </th>
                            <th>智能物流系統AutoMod模擬訓練課程規劃與輔導<br> 智慧零售科技化趨勢分析
                                <br> 五創教育：from Thinker to Doer-由建構理論探討高等教育創客基地教學及其對於創業教育的影響<br> 晶棒智慧機器人倉儲存取策略研究
                            </th>
                            <th class="t-operating">
                                <a href="http://140.133.78.134/frontend-theproject/#/pfev/detail?professorId=a90ae7a2-1fdb-4aac-d666-08d761218de8&tab=1" target="_blank">詳細資訊</a>
                            </th>
                        </tr>
                        <tr>
                            <th class="t-name">龍仕璋
                            </th>
                            <th>嘉義縣糖鐵創意生活產業發展計畫<br> 屏東縣推動原住民族地區設計翻轉地方創生計畫「斜坡上，瘋藝術」
                                <br> 雲林縣金水164創新城鄉特色產業場域推動計畫--經營推廣案
                            </th>
                            <th class="t-operating">
                                <a href="http://140.133.78.134/frontend-theproject/#/pfev/detail?professorId=6a3725dd-f9ad-41b3-d678-08d761218de8&tab=1" target="_blank">詳細資訊</a>
                            </th>
                        </tr>
                        <tr>
                            <th class="t-name">魏裕珍
                            </th>
                            <th>福海明堂文化事業文創商品開發產學合作案 <br> 衛星基地推動園區智慧機器人創新自造基地計畫 <br> 企業創新研習營 <br> 108年度新南向青創基地計畫 <br> 海洋.生態.人文-茄萣仔六級產業經濟創生
                            </th>
                            <th class="t-operating">
                                <a href="http://140.133.78.134/frontend-theproject/#/pfev/detail?professorId=b9c1e9ec-682e-4375-d6f0-08d761218de8&tab=1" target="_blank">詳細資訊</a>
                            </th>
                        </tr>
                    </tbody>
                </table>
            </div>

            <div class="intro-txtwrap">
                <img src="../img/T4.jpg" alt="智能文創">
                <h1>智能文創</h1>
                <p>考量文化、創意與智能科技的關聯，開發數位人文與互動智能技術，形塑智慧文創商品及技術服務，發展中英雙語數位互動文化導覽系統及看見高科VR導覽系統，透過虛實整合，活用軟硬體資源，形塑高科智慧文創研發能量。
                </p>
                <p class="intro-prompt">目前本校智慧文創領域成果如欲搜尋詳細資訊請使用教師產學查詢系統</p>
                <a href="http://140.133.78.134/frontend-theproject/#/pfev" target="_blank" class="fullsearchbtn">前往查詢網站</a>
                <button class="introclosebtn">關閉視窗</button>
            </div>
        </div>
    </div>
    <div class="ifrem-wrap">
        <iframe width="580" height="270" src="https://www.youtube.com/embed/ejmKO7P6ETg" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen>
        </iframe>
        <i class="fas fa-times-circle closebtn"></i>
    </div>
    <div class="ifrem-wrap">
        <iframe width="580" height="270" src="https://www.youtube.com/embed/4uJLfiWQzWk" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen>
        </iframe>
        <i class="fas fa-times-circle closebtn"></i>
    </div>
    <div class="ifrem-wrap">
        <iframe width="580" height="270" src="https://www.youtube.com/embed/l4hyXXB1BEU" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen>
        </iframe>
        <i class="fas fa-times-circle closebtn"></i>
    </div>


    <!-- map -->
    <div class="map">
        <div class="mapwrap">
            <div class="mapimgwrap">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d4378.805732808712!2d120.3277887338501!3d22.649237864126608!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x346e04d91d096a91%3A0x75ce7e7f7c793c56!2z5ZyL56uL6auY6ZuE56eR5oqA5aSn5a24KOW7uuW3peagoeWNgCk!5e0!3m2!1szh-TW!2stw!4v1593481531606!5m2!1szh-TW!2stw"
                    width="600" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
            </div>
            <div class="maptxtwrap">
                <div class="mapintro">
                    <h1>地址</h1>
                    <p>80778高雄市三民區建工路415號</p>
                </div>
                <div class="mapintro">
                    <h1>交通資訊</h1>
                    <!-- <a href="https://rpage.nkust.edu.tw/p/412-1000-1920.php" target=_blank>點擊查看交通資訊</a> -->
                    各線公車： <br> 高雄科大(建工)：<br>16、217、33、37、53、8008、8009、8021、8041、8049、81、紅30A、紅30B(寒暑假停駛)、黃1線。<br> <br> 高雄高工：
                    <br>0北、0南、168環狀東幹線、168環狀西幹線、33、37、81、8503。 <br><br> 搭火車：由高雄火車站直接轉公車紅30至高雄科大(建工)。
                    <br><br> 搭高鐵：由左營高鐵站直接轉公車16A至高雄科大(建工)。
                    <br> <br>搭捷運：由後驛站直接轉公車紅30至高雄科大(建工)。
                    <br>

                </div>

            </div>
        </div>

    </div>


    <!-- footer -->
    <footer>
        <div class="footertitle">
            <h1>國 立 高 雄 科 技 大 學</h1>
            <p>產學營運處 / 產學營運中心</p>
        </div>
        <div class="footertext">
            <div class="footeritem">
                <p>第一校區<br> 82445高雄市燕巢區大學路1號
                    <br>西校區
                    <br> 81164高雄市楠梓區卓越路2號
                    <br> 傳真 : 07-6011067<br>
                </p>
            </div>
            <div class="footeritem">
                <p>建工校區<br> 80778高雄市三民區建工路415號
                    <br>燕巢校區
                    <br>82444 高雄市燕巢區深中路58號
                    <br> 傳真 : 07-3907424<br>
                </p>
            </div>
            <div class="footeritem">
                <p>楠梓校區<br> 81157高雄市楠梓區海專路142號
                    <br>旗津校區
                    <br> 80543 高雄市旗津區中洲三路482號
                    <br> 傳真 : 07-3630065<br>
                </p>
            </div>

        </div>
        <div class="copyright">
            &copy;copyright 2020 國立高雄科技大學 產學營運處
        </div>
    </footer>

    <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js'></script>
    <script src="../js/index.js"></script>

</body>

</html>